{{>header}}
{{>nav}}
<section class="container">
    <div class="row">
        {{#if error}}
        <div class="col-12 alert alert-danger">
            Error loading data
        </div>
        {{/if}}
        {{#each pageData}}
        <div class="col-4">
            <img src="{{this.urlToImage}}" class="img-fluid">
            <a href="{{this.url}}" target="_blank" >{{this.title}}</a>
        </div>
        {{/each}}
    </div>
</section>

{{>footer}}